<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left footClass">
            <ul class="list-inline padding-t-b-10">
                <li>
                    <a href="javascript:void(0);">
                     Home
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                      Login
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                      Register
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right padding-t-b-10">
            &copy; {{test | date: 'yyyy'}} <a href="javascript:void(0);"></a>
        </p>
    </div>
</footer>